<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cabalabs.iucaa_x">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PROBPGS.ProcessFailureReport"></activity>
        <activity android:name=".MGPROLG.FragActivityMGL2" />
        <activity android:name=".MOBSID.FragActivityMOBSID" />
        <activity android:name=".MGPROLG.Level2MergedProPg" />
        <activity android:name=".MGPROLG.MergedOrbitProcessingLog" />
        <activity
            android:name=".THRESHIST.ModThresAct"
            android:label="@string/title_activity_mod_thres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PXHIST.PixHistory"
            android:label="@string/title_activity_pix_history"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PROBPGS.ProblemPg"
            android:label="@string/title_activity_problem_pg"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MGPROLG.MergedProLog"
            android:label="@string/title_activity_merged_pro_log"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UOBSID.UpOBSID"
            android:label="@string/title_activity_up_obsid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MOBSID.MergOBSID"
            android:label="@string/title_activity_merg_obsid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".WelcomeActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".FragActivity" />
    </application>

</manifest>